<h1>Listing tasks</h1>
<table>	
	<tr>
		 <td><%= link_to "New task", new_project_task_path%></td>
	</tr>
    <tr>
    <% if @tasks.size == 0 %>
    	<th>NO Tasks Found</th>
    </tr>
    <% else%>
     <tr>
		 <th>Name of task</th>
		 <th>Rating</th>
		 <th>Description</th>
		 <th>Customer</th>
		 <th>Performer</th>
		 <th>State</th>		 
	 </tr>	
	 <% @tasks.each do |task|%>
	 <tr>
		 <td><%= link_to task.title, project_task_path(@project, task)%></td>
		 <td><%= task.rating%></td>
		 <td><%= task.description%></td>
		 <td><%= task.customer%></td>
		 <td><%= task.performer%></td>
		 <td><%= task.state%></td>		 
		 <td><%= link_to "Edit", edit_project_task_path(@project, task)%></td>
		 <td><%= link_to "Destroy", project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	 </tr>
	 <% end %>	 
	<% end %>	
</table>

<%= link_to 'Back', projects_path %>